{% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
<div class="row justify-content-center pt-4">
    <div class="col-12 col-md-8 col-lg-6 mb-4">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-5">
                <h3 class="text-center mb-4">Assign Project to Employee</h3>
                {% if msg1 is not none and msg1 and msg2 is not none and msg2 %}
                <div class="d-flex justify-content-center mb-4">
                    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_slipwrv0.json" background="transparent" speed="1"
                        style="width: 300px; height: 250px;" loop autoplay>
                    </lottie-player>
                </div>
                <form action="/assign-proj" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="form-group mb-3">
                            <label class="form-label" for="projectSelect">Choose Project:</label>
                            <select class="form-control" id="projectSelect" name="p_id">
                                <option value="0" selected>Select</option>
                                {% for test1 in msg1 %}
                                <option value={{test1.id}}>{{test1.p_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label" for="employeeSelect">Choose Employee:</label>
                            <select class="form-control" id="employeeSelect" name="e_id" required>
                                {# Options will be loaded dynamically by JS #}
                            </select>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Assign</button>
                    </div>
                </form>
                {% else %}
                <div class="text-center">
                    <lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                    </lottie-player>
                    <h3 class="h3 text-center">
                        For assigning employee to the project, you should have at least one project and one employee
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
        $('#projectSelect').change(function(){
            var pid = $('#projectSelect').val();
            console.log(pid);
            request_url = 'get_emps_not_in_project/' + pid;
            $.ajax({
                url:request_url,
                success:function(data){
                    console.log(data);
                    $('#employeeSelect').html('<option selected="' + "selected" + '">' + '' +'</option>');
                    for(let pid in data){
                        console.log(pid,data[pid]);
                        $('#employeeSelect').append('<option value="' + pid + '">' + data[pid].toUpperCase() +'</option>');
                    }
                },
                errors:function(e){
                    alert(e);
                }
            })
        })
</script>
{% endblock %} 
{% comment %} {% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
<div class="row justify-content-center pt-4">
    <div class="col-12 col-md-8 col-lg-6 mb-4">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-5">
                <h3 class="text-center mb-4 text-white">Assign Project to Employee</h3>
                {% if msg1 is not none and msg1 and msg2 is not none and msg2 %}
                <div class="d-flex justify-content-center mb-4">
                    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_slipwrv0.json" background="transparent" speed="1"
                        style="width: 300px; height: 250px;" loop autoplay>
                    </lottie-player>
                </div>
                <form action="/assign-proj" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="form-group mb-3">
                            <label class="form-label text-white" for="projectSelect">Choose Project:</label>
                            <select class="form-control" id="projectSelect" name="p_id">
                                <option value="0" selected>Select</option>
                                {% for test1 in msg1 %}
                                <option value={{test1.id}}>{{test1.p_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label text-white" for="employeeSelect">Choose Employee:</label>
                            <select class="form-control" id="employeeSelect" name="e_id" required>
                                {# Options will be loaded dynamically by JS #}
                            </select>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Assign</button>
                    </div>
                </form>
                {% else %}
                <div class="text-center text-light-gray">
                    <lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                    </lottie-player>
                    <h3 class="h3 text-center text-white">
                        For assigning employee to the project, you should have at least one project and one employee
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
        $('#projectSelect').change(function(){
            var pid = $('#projectSelect').val();
            console.log(pid);
            request_url = 'get_emps_not_in_project/' + pid;
            $.ajax({
                url:request_url,
                success:function(data){
                    console.log(data);
                    $('#employeeSelect').html('<option selected="' + "selected" + '">' + '' +'</option>');
                    for(let pid in data){
                        console.log(pid,data[pid]);
                        $('#employeeSelect').append('<option value="' + pid + '">' + data[pid].toUpperCase() +'</option>');
                    }
                },
                errors:function(e){
                    alert(e);
                }
            })
        })
</script>
{% endblock %}
 {% endcomment %}
