
 {% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
<div class="row justify-content-center pt-4">
    <div class="col-12 col-md-8 col-lg-6 mb-4">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-5">
                <h3 class="h3 text-center mb-4">Add Project</h3>
                <div class="d-flex justify-content-center mb-4">
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_cwA7Cn.json"
                        background="transparent" speed="1" style="width: 300px; height: 250px;" loop autoplay>
                    </lottie-player>
                </div>
                <form action="/create-proj" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="form-group mb-3">
                            <label class="form-label" for="projectName">Project Name:</label>
                            <input type="text" name="p_name" class="form-control" id="projectName" placeholder="Name of Project" required>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label" for="projectDesc">Project Description:</label>
                            <textarea name="p_desc" class="form-control" id="projectDesc" placeholder="Project Description" rows="6" required></textarea>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% comment %} {% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
<div class="row justify-content-center pt-4">
    <div class="col-12 col-md-8 col-lg-6 mb-4">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-5">
                <h3 class="h3 text-center mb-4 text-white">Add Project</h3>
                <div class="d-flex justify-content-center mb-4">
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_cwA7Cn.json"
                        background="transparent" speed="1" style="width: 300px; height: 250px;" loop autoplay>
                    </lottie-player>
                </div>
                <form action="/create-proj" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="form-group mb-3">
                            <label class="form-label text-white" for="projectName">Project Name:</label>
                            <input type="text" name="p_name" class="form-control" id="projectName" placeholder="Name of Project" required>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label text-white" for="projectDesc">Project Description:</label>
                            <textarea name="p_desc" class="form-control" id="projectDesc" placeholder="Project Description" rows="6" required></textarea>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 {% endcomment %}
