{% extends 'layout.html' %}
{% block page_content %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                {# Message handling via _messages.html #}
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card shadow rounded-4 border-0 p-4 p-lg-5">
                        <div class="text-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Organization Login</h1>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <img class="img-fluid" src="/static/html/assets/img/secure_login.png" alt="Secure Login Illustration" style="max-width: 250px; height: auto;">
                        </div>
                        <form method="POST" action="/LoginOrg" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="form-label" for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                    <input type="email" name="o_email" class="form-control" id="email" placeholder="example@company.com" autofocus required>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="form-label" for="password">Your Password</label>
                                <div class="input-group">
                                    <span class="input-group-text"><span class="fas fa-lock"></span></span>
                                    <input type="password" name="o_pass" class="form-control" id="password" placeholder="Password" required>
                                </div>
                                <div class="d-flex justify-content-end align-items-top mt-2">
                                    <div><a href="/org-forgot-password" class="small text-primary fw-bold">Forgot password?</a></div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal text-muted">
                                Not registered?
                                <a href="/SignUpOrg" class="fw-bold text-primary ms-1">Create account</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% comment %} {% extends 'layout.html' %}
{% block page_content %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                {# Message handling via _messages.html #}
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card shadow rounded-4 border-0 p-4 p-lg-5">
                        <div class="text-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3 text-white">Organization Login</h1>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <img class="img-fluid" src="{% static 'html/assets/img/secure_login.png' %}" alt="Secure Login Illustration" style="max-width: 250px; height: auto;">
                        </div>
                        <form method="POST" action="/LoginOrg" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="form-label text-white" for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                    <input type="email" name="o_email" class="form-control" id="email" placeholder="example@company.com" autofocus required>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="form-label text-white" for="password">Your Password</label>
                                <div class="input-group">
                                    <span class="input-group-text"><span class="fas fa-lock"></span></span>
                                    <input type="password" name="o_pass" class="form-control" id="password" placeholder="Password" required>
                                </div>
                                <div class="d-flex justify-content-end align-items-top mt-2">
                                    <div><a href="/org-forgot-password" class="small text-primary fw-bold">Forgot password?</a></div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal text-light-gray">
                                Not registered?
                                <a href="/SignUpOrg" class="fw-bold text-primary ms-1">Create account</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %} {% endcomment %}
