{% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
{% load custom_perms %} {# Add this line #}
<div class="row justify-content-center pt-4">
    <div class="col-12 mb-4">
        <div class="card shadow rounded-4 border-0 p-4">
            <h3 class="h3 text-center mb-4">Unassign Employees for Project {{pname.upper}}</h3>
            {% if msg is not none and msg %}
            <div class="d-flex justify-content-center mb-4">
                {# Add an appropriate illustration for unassignment if available #}
                {# <img class="img-fluid" src="/static/html/assets/img/undraw_Remove_user_re_a9rh.png" alt="Remove User Illustration" style="max-width: 300px; height: auto;"> #}
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Name</th>
                            {% if request.custom_user|has_perm:'unassign_employee_from_project' %} {# <-- This permission check #}
                            <th scope="col">Unassign</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in msg %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{result.e_name.upper}}</td>
                            {% if request.custom_user|has_perm:'unassign_employee_from_project' %} {# <-- This permission check #}
                            <td>
                                <form action="unassign-emp/{{result.id}}" method="POST" onsubmit="return confirm('Are you sure you want to unassign {{result.e_name.upper}} from this project?');"> {# Added confirmation #}
                                    {% csrf_token %}
                                    <input type="hidden" value="{{pid}}" name="p_id"> {# Hidden input is fine #}
                                    <button type="submit" class="btn btn-danger btn-sm">Unassign</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="text-center">
                <lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
                <h3 class="h3 text-center">
                    No Records Found!
                </h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% comment %} {% extends 'OrgDashboard.html' %}
{% block dashboard_content %}
{% load custom_perms %} {# Add this line #}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">
                <div class="row mb-4">
                    {% if msg is not none and msg %}
                    <div class="col-lg-12 col-sm-16">
                        <h3 class="h3 text-center">Unassign Employees for Project {{pname.upper}}</h3>
                    </div>
                    <br/>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                                <tr>
                                    <th scope="col">Sr No</th>
                                    <th scope="col">Name</th>
                                    {% if request.custom_user|has_perm:'unassign_employee_from_project' %} {# <-- यह परमिशन चेक #}
                                    <th scope="col">Unassign</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in msg %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                    <td>{{result.e_name.upper}}</td>
                                    {% if request.custom_user|has_perm:'unassign_employee_from_project' %} {# <-- यह परमिशन चेक #}
                                    <td>
                                        <form action="unassign-emp/{{result.id}}" method="POST">
                                            {% csrf_token %}
                                            <input type="number" value="{{pid}}" name="p_id" style="display:none;">
                                        <button class="btn btn-danger">Unassign</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-lg-12 col-sm-16">
                        <center>
                            <lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                                background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                            </lottie-player>
                        </center>
                        <h3 class="h3 text-center">
                            No Records Found!
                        </h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}